<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>27 de março de 2005</ion-card-subtitle>
      <ion-card-title>Grey's Anatomy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eqgIOObafPJitt8JNh1LuO2fvqu.jpg"/>
      <p>Os médicos do Grey Sloan Memorial Hospital lidam diariamente com casos e consequências de vida ou morte. 
        É um no outro que eles encontram apoio, conforto, amizade…</p>
     <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>10 de setembro de 2009</ion-card-subtitle>
      <ion-card-title>Diários de um Vampiro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/mtjrOwIQKvmh2FChp9ZUtsKAj3C.jpg"/>
      <p>Elena tenta sobreviver entre os seres sobrenaturais que vivem em segredo. 
        Ela se apaixona pelo misterioso Stefan, mas o retorno do seu irmão, Damon, ameaça essa…</p>
     <ion-button expand="block" fill="outline">Mais Informações</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
