<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6"> 
        <h1>Aves de Rapina: Arlequina e sua Emancipação Fantabulosa</h1>
        <h2>5 de fevereiro de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/oFfDC7ouX63C2hj6LsF9Cm7A5Nb.jpg"/>
        <p>Arlequina, Canário Negro, Caçadora, Cassandra Cain e a policial Renée Montoya formam um grupo inusitado de heroínas. 
          Quando um perigoso criminoso começa a causar…</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

      <ion-col size="6"> 
        <h1>As Panteras</h1>
        <h2>14 de novembro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9jdMSIPbwK0wgjuOQz0AvkYQ4M3.jpg"/>
        <p>Elizabeth Banks dirige a nova geração de Panteras – Kristen Stewart, Naomi Scott e Ella Balinska – a serviço do misterioso Charles Townsend. 
          As Panteras sempre proveram…</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h1>Enquanto estivermos juntos</h1>
        <h2>12 de março de 2020</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/1OkENaEgV0uuyJSWpegaln2wC5G.jpg"/>
        <p>A história real de Jeremy Camp (K.J. Apa), famoso cantor de rock cristão e indicado ao Grammy.
           A obra deseja focar como a religião foi essencial para o artista superar…</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Aladdin</h1>
        <h2>22 de maio de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/1d8HShFOmSWDwvqtvPEZqzlZbYl.jpg"/>
        <p>Um jovem humilde descobre uma lâmpada mágica, com um gênio que pode lhe conceder desejos. 
          Agora o rapaz quer conquistar a moça por quem se apaixonou, mas o que ele…</p>
        <ion-button expand="block" fill="outline">Mais informações</ion-button>
      </ion-col>

    </ion-row>
    </ion-grid>
  
</ion-content>
